<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Expression Parser Test</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
	<script type="text/javascript" src="expression-parser.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="parser.css">
</head>
<body>
	<div ng-controller="ExpressionController">
		<div class="expr-input">
			<input type="text" class="form-control" name="expressionInput" placeholder="exists('test') == true" 
				   ng-model="expression" ng-class="{'invalid-expr': isExprInvalid}">
		</div>&nbsp;
		<button class="btn btn-primary" ng-click="isExpressionValid(expression)">validate</button>
	</div>
</body>

<script type="text/javascript">

angular.module('myApp', []).controller('ExpressionController', function($scope) {
	$scope.isExprInvalid = false;
	$scope.isExpressionValid = function(expression) {
		var parser = new Parser();
		var result = parser.isValidExpression(expression);
		var success = result ? 'valid' : 'invalid';
		$scope.isExprInvalid = result ? false : true;
		alert("The expression is " + success + '.');
	}	
});

</script>

</html>